*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* font-family: cursive; */
    /* font-family: fantasy;
    font-weight: 50; */
    /* font-family:sans-serif; */
    /* font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; */
    /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
   
}
body{
    background: linear-gradient(to left, #060e1c, #0d2144);
}







.outerPreloaderBox{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    position: fixed;
    z-index: 5;
    background-color: rgba(0, 10, 10, 0.6);
    /* background: linear-gradient(to left, #060e1c, #0d2144); */
    /* transition:opacity 1.5s ease-in-out;
    z-index: 9999; */
    animation: preloder 1s ease-out 1;
   
}

.innerPreloaderBox{
    height: 30%;
    width: 30%;
    /* background-color: aqua; */
    display: flex;
    justify-content: center;
    align-items: center;
  
   
}
.innerPreloaderBox img{
    height: 35%;
    animation: spin 2s linear infinite;
   
    
}
@keyframes spin {
    0%{
       transform: rotate(0deg);
    }
    100%{
       transform: rotate(360deg);
    }
   }
















/* hide item */
.error-img {
    height: 100vh;
    width: 100vw;
    display: none;
    justify-content: center;
    align-items: center;
   
}
.error-img img{
    height: 20vh;
}
#cross{
    display: none;
    justify-content: center;
    align-items: center;
    /* background-color: red; */
    
    }
#cross img{
    height:25px;
}
/* hide item */
#menu{
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 2vh;
    right:2vw;
}
#menu img{
    height: 25px;
}


li{
    list-style: none;
}
.boss-container a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    &&:hover{
        color: rgb(33, 97, 160);
    }
}

.boss-container{
    /* background-color: rgb(32, 32, 59); */
    height:100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    filter: blur(6px);
}
.header{
    /* background-color: aqua; */
    height: 10vh;
    width: 100vw;
    display: flex;
    font-weight: 600;
}
.first-container{
    width: 60vw;
    display: flex;
    align-items: center;
    padding-left: 2vw;
}
.first-container li{
    font-size: 23px;
}
.second-container{
    width: 40vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
.second-container li{
    font-size: 17px;
}




/* main section start form here */
.main-section{
    height: 90vh;
    width: 100vw;
    /* background-color: burlywood; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.about-text{
    height:7vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: red; */
}
.about-text h2{
    color: rgb(255, 255, 255);
    font-size: 5vh;
    /* animation: ghummakar; */
    animation: ghummakar 4s 0.2s infinite ease-in;
}
@keyframes ghummakar {
    0%{color: aqua;}
    10%{color: blanchedalmond;}
    50%{color: darkgreen;}
    100%{color: chartreuse;}
}
.about-text h2 small{
    color: rgb(48, 120, 255);
}
.image-box{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    width: 100vw;
    /* background-color: chartreuse; */
}
.image-box img{
    height: 45vh;
    border-radius: 50%;
    /* border: 1px solid black; */
    border-bottom: 1px solid rgb(172, 255, 78);
    &&:hover{
       
    }
}
.post{
    height: 5vh;
    /* background-color: darkgreen; */
}
.post h2{
    color: rgb(255, 255, 255);
}
.paragraf{
    height: 15vh;
    max-width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.paragraf p{
    /* color: transparent; */
    color: rgb(255, 255, 255);
}



.read-more{
    height: 13vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.read-more button{
    background-color: rgb(48, 120, 255);
    border: 0;
    height: 40px;
    width: 80px;
    border-radius: 5px;
    &&:hover{
        background-color: red;
        border-left-color: aqua;
    }
}








/* UNABLE PHONE MESSAGE */

@media (max-width: 239px){
    *{
        max-width: 100%;
    }
  
    .error-img{
      display: flex;
   
    }
  .header{
    display: none;
  }
  .main-section{
    display: none;
  }


}


/* MEDIA QUERY FOR EXTRA SMALL DEVICES (240PX - 320PX) */
@media (min-width: 240px) and (max-width: 320px){
    *{
        max-width: 100%;
    }
    body{
        font-size: 13px;
    }
    .header{
        /* background-color: aqua; */
        height: 10vh;
        width: 100vw;
        display: flex;
        font-weight: 600;
        /* position: fixed; */
      
    }
    .first-container{
        width: 60vw;
        display: flex;
        align-items: center;
        padding-left: 2vw;
    }
    .first-container li{
        font-size: 20px;
    }
    
    #menu{
        position: absolute;
        z-index: 1;
        height: 34px;
        width: 34px;
        border: 2px solid #0d2144;
        /* background-color: red; */
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #cross{
        display: block;
    }
    .second-container{
        position: relative;
        top: 0vh;
        z-index: 1;
        background: linear-gradient(to top, #060e1c, #0d2144);
        width: 40vw;
        height: 70vh;
        display: none;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
     

    }
    .second-container li{
        font-size: 15px;
    }



    .about-text{
        height:7vh;
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
       
    }
    #menu img{
        display: inline-block;
        height:4vh;
    }
    .main-section{
        position: relative;
        top:10vh;
        display: flex;
        flex-direction: column;

    }

    .image-box{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 40vh;
        width: 100vw;
        /* background-color: chartreuse; */
    }
    .image-box img{
        height: 40vh;
        transition: all;
        transition-duration: 0.5s;
        transition-timing-function: ease-in;
        &&:hover{
            /* transform: scale(1.2); */
            border-top: 1px solid yellow;
        }
    }
    .paragraf{
       
        height: 15vh;

        display: flex;
        /* flex-wrap: wrap; */
        flex-direction: column;
        justify-content: space-around;
    }
    .paragraf p{
        word-break: break-word;
        /* word-break: break-all; */
    }
    .read-more{
      
    }
    .read-more button{
        height: 20px;
        position:relative;
        top: 30px;
        bottom: 1px;
    }

}


/* MEDIA QUERY FOR SMALL DEVICES (321PX - 480PX) */
@media (min-width: 321px) and (max-width:480px) {
    *{
        max-width: 100%;
    }
    .first-container{
        width: 60vw;
        display: flex;
        align-items: center;
        padding-left:0;
    }
    .header{
        /* background-color: aqua; */
        height: 10vh;
        width: 100vw;
        display: flex;
        font-weight: 600;
      
    }
    .first-container{
        width: 60vw;
        display: flex;
        align-items: center;
        padding-left: 2vw;
    }
    .first-container li{
        font-size: 20px;
    }

    #menu{
        position: absolute;
        z-index: 1;
        height: 34px;
        width: 34px;
        border: 2px solid #0d2144;
        /* background-color: red; */
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #cross{
        display: block;
    }
    .second-container{
        position: relative;
        top: 0vh;
        z-index: 1;
        background: linear-gradient(to top, #060e1c, #0d2144);
        width: 40vw;
        height: 70vh;
        display: none;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
     
    }
    .second-container li{
        font-size: 15px;
    }



    .about-text{
        height:7vh;
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
     
    }
   
   
    .main-section{
        height: 90vh;
        width: 100vw;
        position: relative;
        top:10vh;
        display: flex;
        flex-direction: column;

    }

    .image-box{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 40vh;
        width: 100vw;
        /* background-color: chartreuse; */
    }
    .image-box img{
        height: 40vh;
        transition: all;
        transition-duration: 0.5s;
        transition-timing-function: ease-in;
        &&:hover{
            /* transform: scale(1.2); */
            border-top: 1px solid yellow;
        }
    }
    .paragraf{
        height: 100%;
        /* height: 15vh; */
        display: flex;
        /* flex-wrap: wrap; */
        flex-direction: column;
        justify-content: space-around;
        padding-left: 2vw;
        padding-right: 2vw;
        font-size: 14px;
    }
    .paragraf p{
        word-break: break-word;

    }
    .read-more button{
        position:relative;
        bottom: 1vh;
    }


}
/* MEDIA QUERY FOR MEDIUM DEVICES (481PX - 768PX) */
@media (min-width: 481px) and (max-width:768px) {
    *{
        max-width: 100%;
    }
    .first-container{
        width: 60vw;
        display: flex;
        align-items: center;
        padding-left:0;
    }
    .header{
        /* background-color: aqua; */
        height: 10vh;
        width: 100vw;
        display: flex;
        font-weight: 600;
      
    }
    .first-container{
        width: 60vw;
        display: flex;
        align-items: center;
        padding-left: 2vw;
    }
    .first-container li{
        font-size: 20px;
    }
    .second-container{
        width: 40vw;
        display: flex;
        justify-content: space-around;
        align-items: center;
        
    }
    .second-container li{
        font-size: 15px;
    }



    .about-text{
        height:7vh;
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        z-index: 2;
    }
 
    #menu{
        position: absolute;
        z-index: 1;
        height: 34px;
        width: 34px;
        border: 2px solid #0d2144;
        /* background-color: red; */
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #cross{
        display: block;
    }
    .second-container{
        position: relative;
        top: 0vh;
        left: 17vw;
        z-index: 1;
        background: linear-gradient(to top, #060e1c, #0d2144);
        width: 20vw;
        height: 70vh;
        display: none;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    .main-section{
        height: 90vh;
        width: 100vw;
        position: relative;
        top:10vh;
        display: flex;
        flex-direction: column;

    }

    .image-box{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50vh;
        width: 100vw;
        /* background-color: chartreuse; */
    }
    .image-box img{
        height: 45vh;
        transition: all;
        transition-duration: 0.5s;
        transition-timing-function: ease-in;
        &&:hover{
            /* transform: scale(1.2); */
            border-top: 1px solid yellow;
        }
    }
    .paragraf{
        height: 100%;
        /* height: 15vh; */
        display: flex;
        /* flex-wrap: wrap; */
        flex-direction: column;
        justify-content: space-around;
        padding-left: 2vw;
        padding-right: 2vw;
        font-size: 19px;
    }
    .paragraf p{
        word-break: break-word;

    }
    .read-more button{
        position:relative;
        bottom: 1vh;
    }
}
/* MEDIA QUERY FOR LARGE DEVICES (769PX - 1024PX) */


@media (min-width: 769px) and (max-width:1024px) {
    *{
        max-width: 100%;
    }
    .first-container li{
        font-size:29px;
    }
    .about-text h2{
        color: rgb(255, 255, 255);
        font-size: 8vh;
        /* animation: ghummakar; */
        animation: ghummakar 4s 0.2s infinite ease-in;
    }
    .post h2{
        color: rgb(255, 255, 255);
        font-size: 30px;
    }
    .first-container{
        width: 60vw;
        display: flex;
        align-items: center;
        padding-left:2vh;
    }
    .header{
        /* background-color: aqua; */
        height: 10vh;
        width: 100vw;
        display: flex;
        font-weight: 600;
      
    }
    .first-container{
        width: 60vw;
        display: flex;
        align-items: center;
        padding-left: 2vw;
    }
    .first-container li{
        font-size: 20px;
    }
    .second-container{
        width: 40vw;
        display: flex;
        justify-content: space-around;
        align-items: center;
        
    }
    .second-container li{
        font-size: 17px;
    }



    .about-text{
        height:7vh;
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        z-index: 2;
    }
    #menu{
        position: absolute;
        z-index: 1;
        height: 34px;
        width: 34px;
        border: 2px solid #0d2144;
        /* background-color: red; */
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #cross{
        display: block;
    }
    .second-container{
        position: relative;
        top: 0vh;
        left: 18vw;
        z-index: 1;
        background: linear-gradient(to top, #060e1c, #0d2144);
        width: 20vw;
        height: 70vh;
        display: none;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    .main-section{
        height: 90vh;
        width: 100vw;
        position: relative;
        top:10vh;
        display: flex;
        flex-direction: column;

    }

    .image-box{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50vh;
        width: 100vw;
        /* background-color: chartreuse; */
    }
    .image-box img{
        height: 50vh;
        transition: all;
        transition-duration: 0.5s;
        transition-timing-function: ease-in;
        &&:hover{
            /* transform: scale(1.2); */
            border-top: 1px solid yellow;
        }
    }
    .paragraf{
        height: 100%;
        /* height: 15vh; */
        display: flex;
        /* flex-wrap: wrap; */
        flex-direction: column;
        justify-content: space-around;
        padding-left: 2vw;
        padding-right: 2vw;
        font-size: 20px;
    }
    .paragraf p{
        word-break: break-word;

    }
    .read-more button{
        position:relative;
        bottom: 1vh;
        height: 5vh;
        font-size:15px;
        font-weight: 500;
    }
}
/* MEDIA QUERY FOR EXTRA LARGE DEVICES (1025PX - 1440PX) */


@media (min-width: 1025px) and (max-width:1440px) {
    *{
        max-width: 100%;
    }
    .first-container li{
        font-size:29px;
    }
    .about-text h2{
        color: rgb(255, 255, 255);
        font-size: 8vh;
        /* animation: ghummakar; */
        animation: ghummakar 4s 0.2s infinite ease-in;
    }
    .post h2{
        color: rgb(255, 255, 255);
        font-size: 30px;
    }
    .first-container{
        width: 60vw;
        display: flex;
        align-items: center;
        padding-left:2vh;
    }
    .header{
        /* background-color: aqua; */
        height: 10vh;
        width: 100vw;
        display: flex;
        font-weight: 600;
      
    }
    .first-container{
        width: 60vw;
        display: flex;
        align-items: center;
        padding-left: 2vw;
    }
    .first-container li{
        font-size: 20px;
    }
    .second-container{
        width: 40vw;
        display: flex;
        justify-content: space-around;
        align-items: center;
        
    }
    .second-container li{
        font-size: 17px;
    }



    .about-text{
        height:7vh;
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        z-index: 2;
    }
    .second-container{
        display: flex;
    }
    .main-section{
        height: 90vh;
        width: 100vw;
        position: relative;
        top:10vh;
        display: flex;
        flex-direction: column;

    }

    .image-box{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50vh;
        width: 100vw;
        /* background-color: chartreuse; */
    }
    .image-box img{
        height: 50vh;
        transition: all;
        transition-duration: 0.5s;
        transition-timing-function: ease-in;
        &&:hover{
            border-top: 1px solid yellow;
        }
    }
    .paragraf{
        height: 100%;
        /* height: 15vh; */
        display: flex;
        /* flex-wrap: wrap; */
        flex-direction: column;
        justify-content: space-around;
        padding-left: 2vw;
        padding-right: 2vw;
        font-size: 20px;
    }
    .paragraf p{
        word-break: break-word;

    }
    .read-more button{
        position:relative;
        bottom: 2vh;
        height: 6vh;
        font-size:15px;
        font-weight: 500;
    }
}



